body {
  background: #9fcc9f;
  color: #385454;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: #2f4f4f;
  transition: all 0.3s ease 0s;
}

a:hover {
  font-size: 1.1em;
  color: #000000;
}

.links {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  align-self: flex-start;
  margin-left: none;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

table {
  border: #2f4f4f;
  border-radius: 8px;
  border-spacing: 16px;
}

td {
  border-radius: 8px;
  padding: 1%;
}

.description {
  width: 32%;
}

.intro {
  width: 60%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
}

#name {
  margin-right: 32%;
}

.active {
  color: rgb(239, 239, 239);
}

.homepage-btn {
	background-image: url("../images/star_btn.png");
	background-size:contain;
  width:300px;
  height: 16%;
  margin: 4%;
  border-radius: 12%;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: #2f4f4f;
  border-color: #2f4f4f;
  transition: all 0.3s ease 0s;
} 

.homepage-btn:hover {
  text-decoration: none;
  font-size: 1.2em;
}

button {
  background:none;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: all 0.3s ease 0s;
}

.home-content {
  display: flex;
  align-items: center;
}

#heading {
  margin-left: 2%;
}
